<%= side_nav ["New Client", new_client_path] %>

<%= page_heading "Clients" %>

<div id="clients">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= render partial: 'clients/table', locals: {clients: @clients} %>
      </div>
    </div>
  </div>
</div>
