<div id="mail_queue_table" class="tablelike">
  <div class="row header_row">
    <div class="col-xs-4">
      <h2>Client</h2>
    </div>
    <div class="col-xs-4">
      <h2>Images</h2>
    </div>
    <div class="col-xs-4">
    </div>
  </div>
  <div class="client_rows">
    <% @clients.each do |c| %>
      <%= render partial: 'client_row', locals: {client: c} %>
    <% end # each client %>
  </div>
</div>

<script>

$(document).ready(function(){
});
</script>
