<p>
  Thank you for signing up with Sage Workspace. You can visit your account, and
  manage your mail at <%= link_to new_user_session_url, new_user_session_url %>.<br><br>

  u: <%= @client.email %>
  p: <%= @password %> (you may change this at any time)
</p>

<p>
  Sincerely,
</p>

<p>
  Sage Workspace
</p>

<p>
  info@sageworkspace.nyc<br>
  276 5th avenue, New York, NY, 10001 Suite 704<br>
  W: 212-683-9100<br>
  F: 212-683-9101
</p>
