<p>
  SaGE Workspace would like to welcome you to our new mail management system. Now, you can keep track of all of your mail,
  as well as any forwarding, scanning, or disposal requests with the click of a button. You can visit your account, and
  manage your mail at <%= link_to new_user_session_url, new_user_session_url %>.
</p>

<p>
  u: <%= @client.email %><br>
  p: <%= @password %> Please sign in with the password above for your first login. Afterwards, to change your password, click forgot password, type your email address, and follow the prompts.
</p>

<p>
  Sincerely,
</p>

<p>
  Sage Workspace
</p>

<p>
  info@sageworkspace.nyc<br>
  276 5th avenue, New York, NY, 10001 Suite 704<br>
  W: 212-683-9100<br>
  F: 212-683-9101
</p>
