.click_control{
  font-size: 18px;
  color: black;
  text-decoration: none;

}
.click_control:visited{
  text-decoration: none;
}


.click_control:hover{
  color: black;
  text-decoration: none;
}

.click_control:active{
  text-decoration: none;
}

.controls{
  padding-left: 0px;
  li{
    list-style: none;
  }
}

.mail_image_list{
  .mail_image_row{
    margin-bottom: 20px;
  }
  .mail_image_image{

  }

  .controls{
    text-align: center;

    .form-group{
      margin-bottom: 10px;
    }
  }
}

.mail_image_requests{
  .mail_image_request{
    font-size: 20px;


    .cancel_button{
      margin-left: 20px;
      margin-bottom: 10px;
    }
  }
}

.date{
  font-size: 10px;
  color: $text_color_3;
  white-space: nowrap;
}

.date_stampped{
  white-space: nowrap;
}

.instructions{
  font-size: 20px;
  font-color: #666;
  margin-bottom: 20px;
  text-align: center;
}

//--- Popovers

//--- Modals ---------------------------------
.modal{
  height: 90%;
  // y-overflow: scroll;
  .close{
    font-size: 40px;
  }
}
