.mail_queue{
  .mail_image{
    padding-top: 10px;
    padding-bottom: 10px;

    img{
      width: 40%;
    }
  }

  .mail_image:nth-child(even){
    background-color: #ccc;
  }
}

#mail_image_selection{
  .client{
    font-size: 24px;
    padding:5px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #ccc;
  }

  .client.active{
    background-color: white;
  }

  .mail_image{
    z-index: 50;
  }
}

#mail_queue_table{
  ul{
    padding-left: 0px;
    li{
      list-style: none;
    }
  }

  table.inner{
    margin: 0px;


    td{
      padding: 4px;
      border-width: 0px;
    }
  }

  table.inner:nth-child(odd){
    // background-color: #ddd;
  }
}
